@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@500;700&display=swap');

:root {
    --ideal-viewport-width: 1600;
    --max-width: 1600px;
    --bg-color: #202225;
    --bg-color-secondary: #2f3137;
    --text-color: #fff;
    --text-color-dark: hsl(0, 0%, 70%);
    --contraste-color: #FF8A05;
    --font-footer: 'Oswald', sans-serif;
    --font-normal: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;  
}

body {
    font-family:var(--font-normal);
}




/* DIV FORM */
.form-login {
    
    
    display: flex;
    flex-direction: column;
    width: 420px;
    padding: 30px;
    justify-content: center;
    align-items:center;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    border-radius: 8px;
    

}

.form-login form {
    width: 100%;
}

/* Imagem LOGO */

.form-login img {
    width: 90px;
    margin-bottom: 13px;
}


/* Título H2 - Conecte-se com sua Conta */
.form-login h2 {
    font-size: 23px;
    margin-bottom: 13px;
}


/* Divs - Label e Input */
.item-form {
    width: 100%;
    margin: 13px 0;
    text-transform: uppercase;
    font-weight: bold;
    
}

.item-form label {
    display: block;
    text-align: left;
    margin-bottom: 8px;
    letter-spacing: 3px;
    font-size: 12px;
    
    
}

.item-form input {
    padding: 15px;
    width: 100%;
    border-radius: 8px;
    /* outline: none; */
    border: 2px solid var(--contraste-color);
    background-color: var(--bg-color-secondary);
    color: var(--text-color);
    font-family:var(--font-normal);
    font-size: 15px;
    cursor: pointer;
    
}

/* Animação Input */

.item-form input:focus {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 8px 0 white;
}


/* Checkbox Lembrar-me */

.checkbox {
  /*   display: block;
    cursor: pointer;
    padding: 0.3rem; */
    text-align: left;
    width: 100%;
    font-size: 15px;
    border-radius: 8px;
    cursor: pointer;
         
}

input[type=checkbox] {
    cursor: pointer;
}

/* Checkbox Animação */

input[type=checkbox]:focus {
    border: 2px solid var(--text-color);
    box-shadow: 0 0 8px 0 white;
}


.checkbox label {
    margin-left: 15px;
}




/* Botão Conectar */

.btn-login {
    margin: 10px;
    padding: 10px;
    width:100%;
    background-color: var(--contraste-color);
    border-radius: 8px;
    outline: none;
    border: 2px solid var(--contraste-color); 
    font-family:var(--font-normal);
    font-size: 20px;
    margin-top: 20px;
    font-weight: bold;
}

/* Animação Botão Conectar */
.btn-login:hover {
    background-color: var(--bg-color);
    color:hsl(0, 0%, 95%);
    border: 2px solid var(--contraste-color); 
    cursor: pointer;
    transition: ease 0.5s;
}


/* Link Ajuda */

.link-ajuda {
    margin: 10px;
    font-size: 15px;
    color: var(--contraste-color)
}

.link-ajuda:hover {
    text-decoration: underline;
    transition: ease 0.5s;
}


/*  Responsivo Celular */
 @media (min-width: 360px) and (max-width:413px){
    
    .form-login {
        width: 400px;

       
      }
    

} 


/*  Responsivo Tablete e Desktop */
/* @media (min-width: 414px) and (max-width:1444px){
    
    .form-login {
        width: 500px;

       
      }
    

}  */


