@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Oswald:wght@500;700&display=swap');

:root {
    --ideal-viewport-width: 1600;
    --max-width: 1600px;
    --bg-color: #202225;
    --bg-color-secondary: #2f3137;
    --text-color: #fff;
    --text-color-dark: hsl(0, 0%, 70%);
    --contraste-color: #FF8A05;
    --font-footer: 'Oswald', sans-serif;
    --font-normal: 'DM Sans', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    scroll-behavior: smooth;  
}

html {
    font-size: calc(16 * clamp(0.65px, 100vw / var(--ideal-viewport-width), 1.45px));
}

body {
    background: var(--bg-color);
    color: var(--text-color);
    -webkit-font-smoothing: antialiased;
    font-family:var(--font-normal);
}

button, a {
    cursor: pointer;
    color: var(--text-color);
}

.container {
    width: 100%;
    max-width: var(--max-width);
    padding-left: 1rem;
    padding-right: 1rem;
    margin: 0 auto;
    text-align: center;
}

.row-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.column-flex{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */

header {
    padding: .5rem 0;
    background-color: var(--bg-color-secondary);
    min-height: 20px;
    color: var(--text-color);
}

.header-brand-logo {
    flex: 1 1 auto;
}
.header-brand-logo a{
    display: inline-flex;
    align-items: center;
}

.header-brand-logo img {
    width: 5rem;
}

.header-navbar {
    flex: 2 2 auto;
}

.header-navbar a {
    display: inline-block;
    height: 2rem;
    line-height: 2rem;
}

.header-navbar a:hover {
    border-bottom: 4px solid var(--accent-color);
}

section.banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-image: url(../img/Bannergame.jpg);
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 30rem;
}

main > h2 {
    margin: 2rem 0;
    font-family: var(--font-oswald);
    border-top: 2px solid var(--contraste-color);
    border-bottom: 2px solid var(--contraste-color);
    color: var(--text-color-dark);
    padding: .9em 0;
}

.grid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2.5rem;
}

.game-card{
    width: 100%;
    position: relative;
    overflow: hidden;
}
.game-card img{
    width: 100%;
    object-fit: cover;
    transition: transform .3s ease-in-out;
}

.game-info{
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: rgba(0,0,0,0.2);
    transition: height 2s ease-in-out;
    color: var(--contraste-color);
}

.game-info h2{
    text-decoration: underline;
}

.game-card:hover .game-info{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
    backdrop-filter: blur(2px);
}
.game-card:hover img{
    transform: scale(1.3);
}

footer {

    width: 100%;
    padding: .5rem 0;
    font-size: .8rem;
    background: var(--bg-color);
    color: var(--text-color);
    font-family: var(--font-footer);
}